.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 33px 0 39px 36px;
}

@media screen and (max-width: 600px) {
  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: auto;
    padding: 26px 0 66px 0;
  }
}
