.popup__input {
  width: 100%;
  box-sizing: border-box;
  padding: 9px 0 9px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:not(:focus):not(:placeholder-shown):invalid {
  border-bottom: 1px solid red;
}
