.auth__input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #CCCCCC;
  background-color: black;
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.auth__input::placeholder {
  color: #CCCCCC;
}